.searchbox-container {
  display: flex;
  margin-left: 5em;

  input {
    width: 300px;
  }

  button {
    height: 32px;
    background-color: white;
    width: 32px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
}