ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    .img-li {
        padding: 0 150px 0 30px;
        img {
            width: 70px;
            height: 70px;
            vertical-align: middle;
            cursor: pointer;
            background-color: #f8f8f8;
        }
    }
    .answer-icon {
        width: 42px;
        height: 34px;
    }
    .question-icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    li {
        padding: 0 8px;
        font-size: 19px;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        position: relative;
        transition: 0.5s;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}