ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    .img-li {
        margin-left: auto;
        margin-right: 2em;
        img {
            width: 65px;
            height: 65px;
            vertical-align: middle;
            cursor: pointer;
            background-color: #fff;
            z-index: 99;
            position: relative;
        }
    }
    li.nav__item {
        font-size: 19px;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        position: relative;
        transition: 0.5s;
        a {
            color: #000;
            background-color: #fff;
            text-decoration: none;
            padding: 0 20px;
            &:hover {
                color: black;
            }
            &:active {
                color: black;
            }
            &.active {
                color: #3f05c5;
            }
        }
    }
}