.user_info {
  margin-left: 20px;
  .user_info_img {
    margin-right: 15px;
  }

  div {
    width: fit-content;
    margin-top: 15px;
  }

  span {
    font-weight: bold;
    margin-left: 15px;
  }

  .user_info_name {

  }

  .user_info_gender {

  }

  .user_info_age {

  }
}