.profile_page {
    display: flex;
    justify-content: space-between;
    aside {
        width: fit-content;
        margin-left: 5%;
    }
    .right__side {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        width: 50%;
        div {
            height: fit-content;
            a {
                color: grey;
                font-family: sans-serif;
                font-size: larger;
                &.active {
                    color: black;
                    font-weight: bold;
                }
            }
        }
        .my__questions__btn {
            width: 163px;
            height: 21px;
        }
        .my__answers__btn {
            width: 248px;
            height: 21px;
        }
    }
}