.profile_page {
    display: flex;
    .left__side {
        margin-left: 80px;
    }
    .right__side {
        margin-top: 3%;
        width: 70%;
        div {
            a {
                color: grey;
                font-family: sans-serif;
                &.active {
                    color: black;
                    font-weight: bold;
                }
            }
        }
        .profile_questions_tab {
            margin-bottom: 20px;
            font-size: 16px;
        }
        .my__questions__btn {
            width: 163px;
            height: 21px;
        }
        .my__answers__btn {
            width: 248px;
            height: 21px;
        }
    }
}

.question_item_header {
    height: 40px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0 10px;
    .question__item_header_txt {
        div {
            width: 70px;
        }
        .empty_div {
            width: 150px;
        }
    }
}