.bioform {
  height: 550px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-44%, -50%);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin-top: 100px;
  border-radius: 20px;
}

.bioForm__left {
  width: 300px;
  background: url("../../../assets/bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  .bioForm__logo {
    p {
      font-size: 18px;
      padding: 20px 0 0 20px;
      color: #fff;

      .logo_letter {
        font-size: 30px;
      }
    }
  }

  img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, -40%);
  }

  .bioform__submit {
    line-height: 50px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: 1px solid #fff;
  }
}

.bioForm__right {
  width: 500px;
  padding: 100px;
  background-color: #fff;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .bioForm__form {
    display: flex;
    flex-direction: column;

    label {
      margin-right: 15px;
    }

    #birthYear {
      width: 300px;
      font-size: 18px;
      border: none;
      background: #7f7f7f21;
    }

    img {
      height: 30px;
    }

    [type=radio] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
      outline: 2px dotted #999;
    }

    .gender {
      margin-top: 30px;

      & > label {
        margin: 0 20px;
      }
    }

    .skills-cont {
      display: flex;
      align-items: baseline;
      margin-top: 60px;

      input {
        width: 220px;
        outline: none;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #999;
      }
    }

    .skillsList {
      width: 300px;
      height: 100px;
      padding: 10px 0;
      margin: auto;
      display: block;
      overflow-y: auto;

      li {
        display: inline-block;
        background-color: #fff;
        margin: 3px 6px;
        padding: 6px 9px;
        border: 1px solid #2196f3;
        border-radius: 16px;
      }
    }

    .bioForm__save {
      width: 200px;
      height: 50px;
      position: absolute;
      bottom: 90px;
      left: 50%;
      transform: translate(-50%, 0);
      cursor: pointer;
      color: #fff;
      background-color: #04a9f5;
      font-size: 20px;
      border: none;
    }

    span {
      margin-right: 10px;
      font-weight: bold;
    }

    .bioForm__add {
      min-width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #04a9f5;
      color: #fff;
      font-size: 20px;
      outline: none;
    }

    .bioForm__save {
      outline: none;
    }

    .bioForm__add:hover {
      cursor: pointer;
    }

    .bioForm__save:hover {
      cursor: pointer;
    }

    button[type="submit"]:disabled {
      @extend .bioForm__save;
      background-color: #bebebe;
    }

    button[type="button"]:disabled {
      @extend .bioForm__add;
      background-color: #fff;
      color: #999;
    }

    button[type="submit"]:disabled:hover {
      cursor: default;
    }

    button[type="button"]:disabled:hover {
      cursor: default;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }
}