.profile_questions_tab {
    height: 100vh;
    ul {
        list-style-type: none;
    }
    .tabs {
        width: 100%;
        .tabs__labels {
            font-size: 18px;
            background-color: #fff;
            padding: 30px 0 15px 0;
            justify-content: space-evenly;
        }
    }
}