.questions-filter-container {
    height: 100vh;
    background-color: #eee;
    padding: 50px 20px 0 50px;
    ul {
        list-style-type: none;
        li {
            cursor: pointer;
            margin: 10px 0;
            button {
                font-size: 18px;
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0;
            }
            .questions-skills-menu {
                width: 200px;
                margin: 0 10px;
                li {
                    height: 32px;
                    line-height: 30px;
                    border-radius: 3px;
                    margin: 6px 4px;
                    padding: 0 12px;
                    background-color: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.23);
                    border-radius: 16px;
                    button {
                        font-size: 14px;
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }
}