.item__question__page {
    padding: 0 15px;
    .item__question__title {
        font-weight: bold;
    }
    .item__question__avatar {
        margin: 0 5px 0 10px;
    }
    .item__question__avatar {
        span {
            width: 50px;
            text-align: center;
            display: block;
            padding: 5px 0;
        }
    }
}