header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: dodgerblue;
    height: 90px;

    .navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 16px;
    }

    .logo {
        margin-left: 40px;

        img {
            width: 90px;
            height: 70px;
        } 
    }

    .space {
        flex: 1;
    }

    @media (min-width: 769px) {
        .toggle-btn {
            display: none;
        }
    
        .logo {
            margin-left: 0;
        }
    }    
}