header {
    width: 100%;
    background-color: dodgerblue;
    height: 90px;

    .navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 16px;
    }

    .space {
        flex: 1;
    }
}