body {
    background: #f3f1f2;
}

.wysiwyg {
    .ql-container {
        background: #fefcfc;
    }
    .ql-snow.ql-toolbar {
        display: block;
        background: #eaecec;
    }
    .ql-bubble .ql-editor {
        border: 1px solid #ccc;
    }
    .ql-editor {
        min-height: 18em;
    }
}

.themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
}