body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.am--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.am--flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.am--flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.am--flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.am-flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 1px;
}

.am--flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.am--flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.am--align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.am--align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.am--align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.am--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.am--justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.am-ns {
    flex-shrink: 0;
}

/*fonts*/

.am--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.am-font-s {
    font-size: 12px;
    line-height: 14px;
}

.am-font-m {
    font-size: 13px;
    line-height: 17px;
}

.am-font-l {
    font-size: 16px;
    line-height: 20px;
}

/*inputs*/

.tg_input {
    -webkit-appearance: none;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

// Text alignment
.am--tal {
    text-align: left;
}

.am--tar {
    text-align: right;
}

.am--tac {
    text-align: center;
}