.modal__container {
    display: flex;
    position: fixed;
    background: white;
    width: calc(100% - 700px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #d3d2d2;
    padding: 50px;
    align-items: flex-end;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 200px;
    }
    p {
        font-weight: bold;
        margin-top: 75px;
    }
    input {
        position: relative;
    }
    img {
        width: 200px;
        height: 100px;
        margin-bottom: 10px;
    }
    .modal__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 1px solid crimson;
        background-color: crimson;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
    .upload__img-btn {
        background-color: #00ac00;
        border: 1px solid #00ac00;
        height: 40px;
        width: 150px;
        border-radius: 3px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
}