.question_item_container {
    .question_item_content {
        padding: 0 10px;
        background-color: #fff;
        .question_item_title {
            font-weight: bold;
        }
        .question_item_desc {
            padding: 10px 0;
            .question_item_scores {
                div {
                    width: 70px;
                    text-align: center;
                }
            }
            .question_item_user {
                width: 150px;
            }
            .question_item_avatar {
                img {
                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                }
            }
        }
        .question_item_skill {
            span {
                background-color: #e8e8e8;
                margin: 6px 4px;
                padding: 4px 6px;
                display: inline-block;
            }
        }
    }
}